p {background-color : #2497FF}
body {background-color : #2497FF}
h1 {color: white; font-size: 26px; text-align: center; font-weight: bold; border-style: dashed; border-color: blue}
	display: block; margin-left: auto; margin-right: auto;}
blockquote {text-align: center;}
